<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Full name" %><br />
    <%= f.text_field :author %>

  </div>
  <div class="field">
    <%= f.label "Gender" %><br />
    <%= f.select :gender, options_for_select(["Woman", "Man"]), {}, {:multiple => false} %>
  </div>
  <div class="field">
    <%= f.label "age" %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label "email address" %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label "Read our privacy policy?" %><br />
    <%= f.check_box :agreeTerms %>
  </div>
  <div class="field">
    <%= f.label "Share your story here" %><br />
    <%= f.text_area :narrative %>
  </div>
  <% result=request.location %>
  <div class= "geo">
    <p>According to our calculations your location is here!
      <%= result.city %> </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
