<style type="text/css">
h1, h2, h3, h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #FF7C70;
	font-size: 35px;
}
h2 {
	color: #A5BFDD;
	font-size: 25px;
}
p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 18px;
	color: #555555;
	line-height: 1.5em;
}
a {
	color: #006600;
}
.content{
	padding:30px;
}
@media (max-width: 700px) {
	.content{
		padding:0px;
	}
	p{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-size: 8px;
		color: #555555;
		line-height: 1em;
	}
	h1, h2 {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 300;
		color: #FF7C70;
		font-size: 16px;
		line-height: 1em;
	}
	h2 {
		color: #A5BFDD;
		font-size: 12px;
		line-height: 1em;
	}

}
</style>


<div class = "content">
	<h1>
	  My name is 
	  <%= @story.author %>.
	</h1>
	<h2>
	  I am a 
	  <%= @story.age%>
	  year old <%= @story.gender%> living in <%= @story.city%>, <%= @story.country%>.
	</h2>
	<p>
	  <%= simple_format(@story.narrative) %>
	</p>
</div>