<div class = "container">
	<p id="notice"><%= notice %></p>

	<p>
	  Hi, my name is 
	  <%= @story.author %>
	  .
	</p>
	<p>
	  I am a 
	  <%= @story.age%>
	  year old woman from America.
	  And this is my story: 
	</p>
	<p>
	  <%= @story.narrative %>
	</p>

	<!--<%= link_to 'Edit', edit_story_path(@story) %> |-->
	<%= link_to 'Back', stories_path %>
</div>