<!DOCTYPE html>
<html>
  <head>
    <title>Where's Tibet?</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="">
     <meta name="author" content="">
     <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Where\'s Tibet?', root_path, :class=>"brand" %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to 'About', root_path %></li>
              <li><%= link_to 'Add yourself!', new_story_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <%= yield %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRWXICpdwd59zv3ecuKSeAmJiNi5JBzWY&sensor=true">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  </body>
</html>
